*{
    margin: 0;
    padding: 0;
    font-family: 'Samsung Sans', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin-left: 1.5%;
    margin-right: 1.5%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cabecera {
    background-color: black;
    color: white;
    font-size: 250%;
    padding-top: 2.5%;
    padding-bottom: 1.5%;
    padding-left: -1.5%;
    padding-right: -1.5%;
}

.titulo-h1 {
    display: none;
}

.imagen-titulo {
    display: none;
}

.separacion-movil {
    display: none;
}

.bloque-ini {
    margin-top: 1.25%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 24px;
    background-color: #bbd8ff;
}

.enlace-enlace {
    background-color: #0381fe;
    color: white;
    text-decoration: none;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-radius: 24px;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
}

.p-bloque-ini {
    font-size: 175%;
    margin-bottom: .5%;
    margin-top: .5%;
}

.sub-texto {
    margin-top: 2%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 50px;
    background-color: rgb(228, 228, 228);
}

.p-sub-texto {
    font-size: 125%;
    margin-bottom: .5%;
    margin-top: .5%;
}

.p2-sub-texto-novedades {
    margin-top: 1%;
}

.p3-sub-texto-enlace {
    text-decoration: none;
    color: black;
    background-color: rgb(211, 211, 211);
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    border-radius: 24px;
    transition: 0.25s;
}

.p3-sub-texto-enlace:hover {
    background-color: rgb(160, 160, 160);
    transition: 0.25s;
}

.p-bloque-tips-easy {
    font-size: 175%;
    margin-bottom: .5%;
    margin-top: 5%;
}

.bloque-tips-easy-enlace {
    display: block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-radius: 50px;
    background-color: rgb(228, 228, 228);
    color: black;
    text-decoration: none;
    transition: 0.25s;
}

.bloque-tips-easy-enlace:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.25s;
}

.bloque-novedades {
    margin-top: .5%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 50px;
    background-color: rgb(166, 255, 139);
    color: #26a500;
}

.p-noticias {
    margin-top: 1.75%;
    font-size: 175%;
}

.bloque-final {
    margin-bottom: 6%;
}

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.hero-section img {
    display: block;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    height: auto;
    object-fit: cover;
}
  
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50px;
}
  
t h1 {
    font-size: 175%;
    margin-bottom: 10px;
}
  
.hero-text p {
    font-size: 90%;
    margin-bottom: 20px;
}
  
.hero-text button:hover {
    background-color: #0056b3;
}

#botonFlotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0381fe;
    padding: 15px 20px;
    border-radius: 24px;
    z-index: 1000;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
}
  
#botonFlotante:hover {
    background-color: rgb(158, 158, 158);
}

#botonFlotante-2 {
    display: inline-block;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #0381fe;
    padding: 15px 20px;
    border-radius: 24px;
    z-index: 1000;
    color: white;
    text-decoration: none;
}
  
#botonFlotante-2:hover {
    background-color: rgb(158, 158, 158);
}

@media (max-width: 768px) {
    body {
        margin-left: 1.25em;
        margin-right: 1.25em;
    }

    .sub-texto {
        font-size: 75%;
        font-weight: lighter;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .enlace-enlace {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        background-color: rgb(255, 219, 219);
        color: red;
    }

    .informacion-texto{
        display: none;
    }

    .titulo-h1 {
        display: inline;
        vertical-align: middle;
        font-size: 1.75em;
        font-weight: bold;
    }

    .hero-section {
       display: none; 
    }

    .bloque-tips-easy-enlace {
        font-size: 85%;
        font-weight: lighter;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 0.75em;
        margin-bottom: 0.75em;

    }

    .descripcion-bloque {
        display: none;
    }

    .imagen-titulo {
        display: inline;
        vertical-align: middle;
    }

    .bloque-movil {
        text-align: center;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .p-bloque-tips-easy {
        font-size: 135%;
        margin-bottom: 0.75em;
    }

    .separacion-movil {
        display: block;
    }

    .bloque-final {
        margin-bottom: 7em;
    }

    #botonFlotante {
        display: inline-block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #0381fe;
        padding: 15px 20px;
        border-radius: 24px;
        z-index: 1000;
        color: white;
        text-decoration: none;
    }
      
    #botonFlotante:hover {
        background-color: rgb(158, 158, 158);
    }


  }

.dark-mode {
    background-color: #333;
    color: #f8f8f8;
}

.content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dark-mode .content {
    border-color: #555;
}

.dark-mode .bloque-tips-easy-enlace {
    background-color: #6d6d6d;
    color: white;
}

.dark-mode .sub-texto {
    background-color: #6d6d6d;
    color: white;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.visited-custom {
    background-color: rgb(95, 218, 95) !important;
    color: black;
  }