*{
    margin: 0;
    padding: 0;
    font-family: 'Samsung Sans', sans-serif;
}


#botonFlotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(228, 228, 228);
    padding: 15px 20px;
    border-radius: 24px;
    z-index: 1000;
    color: black;
    text-decoration: none;
}
  
#botonFlotante:hover {
    background-color: rgb(148, 196, 255);
}